/* Global styles */

html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #111;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

h1,
h2,
h3 {
    font-weight: normal;
    margin-top: 0;
}

/* Smooth scroll effect */
html {
    scroll-behavior: smooth;
}

/* Header styles */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #222;
    z-index: 1;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

header a {
    margin: 0 20px;
    font-size: 18px;
    font-weight: bold;
}

/* Hero section styles */

#hero {
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('hero-bg.jpg'); */
    /* background-size: cover; */
    /* background-position: center; */
    text-align: center;
}

#hero h1 {
    font-size: 64px;
    margin-bottom: 20px;
}

#hero p {
    font-size: 24px;
    margin-bottom: 40px;
}

#hero .btn {
    display: inline-block;
    padding: 20px 40px;
    font-size: 24px;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  #hero .btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  
  #hero .btn:hover::before {
    width: 500px;
    height: 500px;
    opacity: 1;
  }
  
  #hero .btn:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    background-color: #3ab83e;
    transform: scale(1.08);
  }
  

/* Features section styles */
#features {
    height: calc(100vh - 60px);
    scroll-margin-top: 100px; /* add extra space before scrolling */
    padding: 100px 0;
}

#features h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

#features ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#features li {
    width: calc(33.33% - 20px);
    height: 0;
    padding-bottom: 33.33%; /* make each feature box a square */
    margin: 5px;
    background-color: #333;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

#features li:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

#features li h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

#features li p {
    font-size: 16px;
}

/* Style for updates section */
#updates {
    height: calc(80vh - 60px);
    max-height: calc(80vh - 60px);
    overflow-y: scroll;
    padding: 50px 0;
    scroll-margin-top: 100px; /* add extra space before scrolling */
  }
  
  #updates::-webkit-scrollbar {
    width: 8px;
  }
  
  #updates::-webkit-scrollbar-track {
    background-color: #333333;
  }
  
  #updates::-webkit-scrollbar-thumb {
    background-color: #707070;
    border-radius: 10px;
  }
  
  #updates::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
  }
  
  #updates h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  #updates ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 500px;
  }
  
  #updates li {
    font-size: 20px;
    line-height: 1.5;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  #updates li .version {
    font-weight: bold;
  }
  
  #updates li .description {
    font-weight: normal;
    color: #888;
  }
  

/* Footer styles */

footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 16px;
    margin: 0;
}


/* Page loading animation */

/* Add classes to hide elements initially */
.container,
#logo-img,
h1,
p {
  opacity: 0;
  transform: translateY(-20px);
}

/* Add animation to show elements one at a time */
.container {
  animation: fade-in 1s ease-out forwards;
}

#logo-img {
  animation-delay: 1s;
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

h1 {
  animation-delay: 0.5s;
  animation-name: fade-in;
  animation-duration: 1.25s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

p {
  animation-delay: 0.75s;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

/* Define the fade-in animation */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn {
    animation: zoomIn 0.5s ease-in-out;
  }
  
  @keyframes zoomIn {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  #logo-img {
    opacity: 0;
    transform: scale(0.5);
    animation: logoZoomIn 0.5s ease-in-out 0s forwards;
  }
  
  @keyframes logoZoomIn {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    50% {
      opacity: 1;
      transform: scale(1.1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }