body {
    color: #40513B;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-family: 'Share Tech Mono', monospace;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
}

.header-btns button {
    background-color: #EDF1D6;
    border: 3px solid black;
    border-radius: 10px;
    color: #40513B;
    font-family: 'Roboto', sans-serif;
    font-family: 'Share Tech Mono', monospace;
    font-size: 24px;
    font-weight: bold;
    padding: 14px 28px;
    cursor: pointer;
    text-align: center;
    transition: all .1s ease-in-out;
    width: 100%;
}

.header-btns button:hover {
    transform: scale(1.1);
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #9DC08B;
}

.header-logo {
    align-items: center;
    display: flex;
    margin-left: 15%;
    padding: 20px;
}

#logo-text {
    align-items: center;
    display: flex;
    font-size: 60px;
    font-weight: bold;
    justify-content: center;
    padding: 0 25px;
    position: relative;
    width: 100%;
    
}

#logo-text span {
    animation: zoomup 2.2s linear forwards;
    animation-delay: calc(200ms * var(--i));
}

@keyframes zoomup {
    0%,
    100% {
        color: #EDF1D6;
        filter: blur(1px);
        text-shadow: 0 0 10px #EDF1D6, 0 0 20px #EDF1D6, 0 0 30px #EDF1D6,
          0 0 40px #EDF1D6, 0 0 60px #EDF1D6, 0 0 80px #EDF1D6, 0 0 100px #EDF1D6,
          0 0 120px #EDF1D6;
      }
    
      5%,
      100% {
        filter: blur(0);
        color: #EDF1D6;
        text-shadow: none;
        text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
      }
}

.header-btns {
    display: flex;
    align-items: center;
    margin-right: 15%;
    list-style-type: none;
}

.header-btns li {
    padding: 20px;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #40513B;
}

.content {
    background-color: #EDF1D6;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    text-align: center;
    font-size: 50px;
}

.footer {
    background-color: #609966;
    color: #EDF1D6;
    text-align: center;
    height: 60px;
    line-height: 60px;
}